*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap');
    
@keyframes changecolor{
    10% {
        background-color: #17202A;
    }
}





/*MAIN*/  
#bgindex{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(10,35,51,1) 50%, rgba(23,32,42,1) 100%);
}
.carousel-inner{
    max-height: 40rem;
}

/*TARJETA INDEX IMG*/
#imagen{
    width: 100%;
    
}
.container{
    margin-top: 3%;
}
    .inner{
        overflow: hidden;
    }
        .inner img{
            transition: all 1.5s ease;
        }
            .inner:hover img{
                transform: scale(1.5);
            }
                        /*FIN MAIN*/


/*FOOTER*/
.footer{
    /*grid-column: 1 / span 3;*/
    display: flex;
    height: 100px;
    background-color: #17202A;
    align-items: center;
    justify-content: center;   
}
        .footer a img{
            width: 40px;
            padding: 20px;
        }
            #iconos i{
               font-size: 50px;
               padding: 0 10px;
            }
     /*FIN FOOTER*/



 /*GALERIA HTML*/

#bggaleria{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(10,35,51,1) 50%, rgba(23,32,42,1) 100%);
}
    .galery{
        background-color: #131516;
    }
        #galeria{
            background-color: #131516;
            background-size: cover;
        }
            #galeria .col-lg-4{
                margin: 0 !important;
                padding: 20px;
            }
                #galeria img{
                width: 100%;
                    height: 400px;
                    object-fit: cover;
                }
                    #galeria img:hover{
                        border: 4px solid #2252d6;
                    }
                    /*FIN HTML GALERIA*/


/*HTML SERVICIOS*/
#bgservicios{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,67,99,1) 50%, rgba(23,32,42,1) 100%);
}
    #intro {
        padding: 20px;
    }
        .servicios{
            font-family: 'roboto', sans-serif;   
        }    
   
            #intro{
                width: 90% !important; /*CON !IMPORTANT LE AVISAMOS AL CSS QUE  TIENE QUE ESTAR POR ENCIMA DE BOOSTRAP*/
            }
            /*FIN SERVICIOS*/
    
    
/*NOSOTROS*/
#bgnosotros{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,67,99,1) 50%, rgba(23,32,42,1) 100%);
}
/*FIN NOSOTROS*/

/*CONTACTO*/
#bgcontacto{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,67,99,1) 50%, rgba(23,32,42,1) 100%);
}
    