*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;0,900;1,400;1,900&family=Montserrat:wght@200;600;700;900&family=Roboto:wght@100;300;400;700&display=swap');
    
@keyframes changecolor{
    10% {
        background-color: #17202A;
    }
}
@media screen and (min-width: 480px){

/*GRID*/
.grid{
    height: 100vh;
    display: grid;
   /* grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-rows: 1fr 20fr 1fr;
    /*grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"; */
  
}
/*HEADER*/
.header {
    /*grid-column: 1 / span 3 ;*/
    display: flex;
    background-color: #17202A;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px; 
    position: sticky;
    top: 0;
}
    .header .logo{
        cursor: pointer;
        padding: 0px 20px;
        margin-top: 10px;
        /*curva de velocidad*/
        transition: all 1.5s ease-in-out;
    }    
        .header .logo:hover{
            transform: rotate(360deg);
        }
            .nav__link{
                padding: 0 50px;
                display: flex;    
                font-family: 'roboto', sans-serif;
                flex-wrap: wrap;
            }
                .nav__link li{
                    list-style: none;
                    font-size: 15px;
                    /*agregando escalado navbar*/
                    transition: all 1s;
                }

                  .nav__link li:hover{
                    transform: scale(1.5);
                  }  
                        /*Fin Agregando escalado al navbar */

                    .nav__link li a{
                        text-decoration: none;
                        color: white;
                        padding: 20px;
        
                    }
                        .nav__link li a:hover{
                            color: rgb(0, 136,169,1);
                        }

                            .header a button{
                                font-family: 'roboto', sans-serif;
                                font-weight: 500;
                                font-size: 16px;
                                color: white;
                                background: none;
                                text-decoration: none;
                                padding: 10px 15px;
                                border: 1px solid white;
                                border-radius: 20px;
                                margin: 30px;
                                cursor: pointer;
                                /*escalado al boton*/
                                transition: all 0.5s;
                             
                            }
  
                                .header a button:hover{
                                    font-family: 'roboto', sans-serif;
                                    font-weight: 500;
                                    font-size: 16px;
                                    background-color: rgb(0, 136,169,1);
                                    color: #ffffff; 
                                    transform: scale(1.2);
                                   
                                }
                                    .header img{
                                        width: 80px;
                                        }
                                        /*FIN HEADER */

/*MAIN*/  

.carousel-inner{
    max-height: 40rem;
}
.main{
    /*grid-column: 1 / span 3;*/
    height: 100vh;
    background-image: linear-gradient(rgba(16, 16, 16, 0.267),rgba(16, 16, 16, 0.521)), url(./multimedia/imagenes/mdp5.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
    .main .main__contenido{
        grid-column: 2 / 6;
        grid-row: 2 / 4; 
    }          
        .main__contenido h2{
            color: white;
            font-family: 'roboto';
            font-size: 30px;
        }
            .main__contenido h1{
                color: #17202A;
                font-family: 'roboto';
                font-size: 40px;
            }
                .main__contenido p{
                    margin-top: 8px;
                    color: #ffffff;
                    font-family: 'montserrat', sans-serif
                }
                    .main__contenido a button{
                        background: none;
                        border-radius: 20px;
                        padding: 10px 20px;
                        color: #17202A;
                        margin-top: 15px;
                        border: 2px solid #17202A;
                        font-weight: bold;
                    }
                        .main__contenido a button:hover{
                            background-color: rgb(0, 136,169,1);
                            color: #ffffff;
                            border: none;
                        }
                        /*FIN MAIN*/


/*FOOTER*/
.footer{
    /*grid-column: 1 / span 3;*/
    display: flex;
    height: 100px;
    background-color: #17202A;
    align-items: center;
    justify-content: center;   
}
        .footer a img{
            width: 40px;
            padding: 20px;
        }
            #iconos i{
               font-size: 50px;
               padding: 0 10px;
            }
     /*FIN FOOTER*/




 /*GALERIA HTML*/
.galeria{
    background-image: linear-gradient(rgba(16, 16, 16, 0.562),rgba(16, 16, 16, 0.774)), url(./multimedia/imagenes/Vestibulo-2.jpg);
    background-size: cover;
    max-width: 100%;
}
    .galeria h3{
        color: #ffffff;
        text-align: center;
        font-family: 'roboto',sans-serif;
        font-size: 20px;
        padding: 20px;
    }
        .galeria h1{
            text-align: center;
            color: rgb(0, 136,169,1);
            font-family: 'roboto', sans-serif;
            font-size: 40px;
            margin-top: 20px;
        } 
            .galeria__contenedor__item img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
                .galeria .galeria__contenedor{
                    background-color: #ffffff;
                    border: 10px solid #ffffff; 
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 40px;
                    display: grid;
                    grid-gap: 10px 10px;
                    grid-template-columns: 1fr 1fr 1fr ;
                    grid-auto-rows: 1fr;

                }
                    .galeria__contenedor__item{
                        height: 300px;
                      
                    }
                    /*FIN HTML GALERIA*/

/*HTML SERVICIOS*/

.servicios{
    background-color: #131516;
    font-family: 'roboto', sans-serif;   
}    
    .grid-container{
        display: grid;
        grid-gap: 20px;
        padding: 50px 110px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
                            "seguridad monitoreo"
                            "lavadero salud"
                            "cocina  estudio";
    }
       .grid-container div{
        background-color: rgb(0, 136,169,1);
        color: #17202A;
        border-radius: 50px;
        padding: 50px 30px;
        
       
       }
            .grid-container div h2{
                color: #ffffff;
            }
                .grid-container div p{
                    color: #17202A;
                    
                    
                }
                    .servicios h1{
                        text-align: center;
                        color: rgb(0, 136,169,1);
                        margin-top: 40px;
                        font-size: 40px;
                    }
                        .servicios .parrafo1{
                            text-align: center;
                            font-size: 20px;
                            color: #ffffff;
                            padding: 0 150px;
                            margin-top: 30px;
                        }

/*GRID AREAS SERVICIOS*/
.seguridad{
    grid-area: seguridad;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.monitoreo{
    grid-area: monitoreo;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.salud{
    grid-area: salud;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lavadero{
    grid-area: lavadero;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cocina{
    grid-area: cocina;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.estudio{
    grid-area: estudio;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*FIN SERVICIOS HTML*/



/*NOSOTROS HTML*/
.nosotros{
    background-color: #131516;
    width: 100%;
    color: #ffffff;
    font-family: 'roboto', sans-serif;
}
    .conteinernosotros{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

        .conteinernosotros__info{
            padding: 30px;
            background-color: rgb(0, 136,169,1);
            border-radius: 70px;
            margin: 30px;
        }
            .nosotros h1{
                color: #ffffff;
                font-size: 30px;
            }

                .mapa{
                    padding: 50px 50px;
                }
                
                    .nosotros h2{
                        color: rgb(251, 254, 255);
                        font-size: 30px;
                        margin-bottom: 30px;
                        }
            
                            .nosotros p{
                                color: #ffffff;
                                padding: 25px 80px;
                            }
                            /*FIN HTML NOSOTROS*/
/*CONTACTO HTML*/

.contacto{
  background-image: linear-gradient(rgba(16, 16, 16, 0.562),rgba(16, 16, 16, 0.774)), url(./multimedia/imagenes/mardelpanoramic.jpg) ;
    background-size: cover;
    max-width: 100%;
    
}
    .grid-conteiner__contacto{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
    } 
        .contacto__item{
            background-color: #131516;
            padding: 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            grid-column: 1 / span 4;
            grid-row: 7 / span 10;
        }
            .contacto__item p{
                color: #ffffff;
                padding: 20px 100px;
                font-family: 'roboto';
                font-size: 20px;
                
            }
}
/*FIN CONTACTO*/



/*MEDIAS PARA CELULAR*/

@media screen and (max-width: 480px){

    /*GRID*/
    .grid{
        height: 100vh;
        display: grid;
       /* grid-template-columns: 1fr 1fr 1fr;*/
       grid-template-rows: 1fr 20fr 1fr;
        /*grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"; */
      
    }
    /*HEADER*/
    .header {
        /*grid-column: 1 / span 3 ;*/
        display: flex;
        background-color: #17202A;
        align-items: center;
        padding: 0px 250px; 
        position: sticky;
        top: 0;
    }
        .header .logo{
            cursor: pointer;
            padding: 0px 20px;
            margin-top: 10px;
        }        
            
                .nav__link{
                    padding: 0 50px;
                    display: flex;
                    flex-direction: column;    
                    font-family: 'roboto', sans-serif;
                    flex-wrap: wrap;
                }
                    .nav__link li{
                        list-style: none;
                    }
                        .nav__link li a{
                            text-decoration: none;
                            color: white;
                            padding: 20px;
                        }
                            .nav__link li a:hover{
                                color: rgb(0, 136,169,1);
                            }
                                .header a button{
                                    font-family: 'roboto', sans-serif;
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: white;
                                    background: none;
                                    text-decoration: none;
                                    padding: 10px 15px;
                                    border: 1px solid white;
                                    border-radius: 20px;
                                    margin: 30px;
                                    cursor: pointer;
                                }
      
                                    .header a button:hover{
                                        font-family: 'roboto', sans-serif;
                                        font-weight: 500;
                                        font-size: 16px;
                                        background-color: rgb(0, 136,169,1);
                                        color: #17202A;    
                                    }
                                        .header img{
                                            width: 80px;
                                            }
                                            /*FIN HEADER */
    
    /*MAIN*/  
    
    .main{
        /*grid-column: 1 / span 3;*/
        height: 100vh;
        background-image: linear-gradient(rgba(16, 16, 16, 0.267),rgba(16, 16, 16, 0.521)), url(./multimedia/imagenes/mdp5.jpg);
        background-size: cover;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
        .main .main__contenido{
            grid-column: 2 / 6;
            grid-row: 2 / 4; 
        }          
            .main__contenido h2{
                color: white;
                font-family: 'roboto';
                font-size: 30px;
            }
                .main__contenido h1{
                    color: #17202A;
                    font-family: 'roboto';
                    font-size: 40px;
                }
                    .main__contenido p{
                        margin-top: 8px;
                        color: #ffffff;
                        font-family: 'montserrat', sans-serif
                    }
                        .main__contenido a button{
                            background: none;
                            border-radius: 20px;
                            padding: 10px 20px;
                            color: #ffffff;
                            margin-top: 15px;
                            border: 2px solid #ffffff;
                            font-weight: bold;
                        }
                            .main__contenido a button:hover{
                                background-color: rgb(0, 136,169,1);
                                color: #ffffff;
                                border: none;
                            }
                            /*FIN MAIN*/
    
    
    /*FOOTER*/
    .footer{
        /*grid-column: 1 / span 3;*/
        display: flex;
        height: 100px;
        background-color: #17202A;
        align-items: center;
        justify-content: center;   
    }
            .footer a img{
                width: 40px;
                padding: 20px;
            }
         /*FIN FOOTER*/
    
    
    
    
     /*GALERIA HTML*/
    .galeria{
        background-color: #131516;
    }
        .galeria h3{
            color: #ffffff;
            text-align: center;
            font-family: 'roboto',sans-serif;
            font-size: 20px;
            padding: 20px;
        }
            .galeria h1{
                text-align: center;
                color: rgb(0, 136,169,1);
                font-family: 'roboto', sans-serif;
                font-size: 40px;
                margin-top: 20px;
            } 
                .galeria__contenedor__item img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                    .galeria .galeria__contenedor{
                        background-color: #ffffff;
                        border: 10px solid #ffffff; 
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 40px;
                        display: grid;
                        grid-gap: 10px 10px;
                        grid-template-columns: 1fr;
                        grid-auto-rows: 1fr;
    
                    }
                        .galeria__contenedor__item{
                            height: 300px;
                          
                        }
                        /*FIN HTML GALERIA*/
    
    /*HTML SERVICIOS*/
    
    .servicios{
        background-color: #131516;
        font-family: 'roboto', sans-serif;   
    }    
        .grid-container{
            display: grid;
            grid-gap: 20px;
            padding: 50px 80px;
            grid-template-columns: 1fr ;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
                                "seguridad "
                                "monitoreo" 
                                "lavadero "
                                "salud"
                                "cocina "
                                "estudio";
        }
           .grid-container div{
            background-color: rgb(0, 136,169,1);
            color: #17202A;
            border-radius: 50px;
            padding: 40px 30px;
            text-align: justify;
            display: flex;
            flex-wrap: wrap;
           }
                .grid-container div h2{
                    color: #ffffff;
                }
                    .grid-container div p{
                        color: #17202A;
                        
                    }
                        .servicios h1{
                            text-align: center;
                            color: rgb(0, 136,169,1);
                            margin-top: 40px;
                            font-size: 40px;
                        }
                            .servicios .parrafo1{
                                text-align: center;
                                font-size: 20px;
                                color: #ffffff;
                                padding: 0 150px;
                                margin-top: 30px;
                            }

                            .grid-container
                         
    
    /*GRID AREAS SERVICIOS*/
    .seguridad{
        grid-area: seguridad;
    }
    .monitoreo{
        grid-area: monitoreo;
    }
    .salud{
        grid-area: salud;
    }
    .lavadero{
        grid-area: lavadero;
    }
        
    .cocina{
        grid-area: cocina;
    }
    .estudio{
        grid-area: estudio;
    }
    /*FIN SERVICIOS HTML*/
    
    
    
    /*NOSOTROS HTML*/
    .nosotros{
        background-color: #131516;
        width: 100%;
        color: #ffffff;
        font-family: 'roboto', sans-serif;
    }
        .conteinernosotros{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    
            .conteinernosotros__info{
                padding: 20px;
                background-color: rgb(0, 136,169,1);
                border-radius: 70px;
                margin: 30px;
            }
                .nosotros h1{
                    color: #ffffff;
                    font-size: 30px;
                }
    
                    .mapa{
                        padding: 30px 30px;
                    }
                    
                        .nosotros h2{
                            color: rgb(251, 254, 255);
                            font-size: 30px;
                            margin-bottom: 30px;
                            }
                
                                .nosotros p{
                                    color: #ffffff;
                                    padding: 10px 10px;
                                }
                                /*FIN HTML NOSOTROS*/
    /*CONTACTO HTML*/
    
    .contacto{  /*TENGO UN PROBLEMA CON LAS MEDIA QUERIES Y LOS BACKGROUND, NO SE SI ES EL FUNCIONAMIENTO CORRECTO PERO LO PUDE RESOLVER ASI*/
        background-image: linear-gradient(rgba(16, 16, 16, 0.562),rgba(16, 16, 16, 0.774)), url(./multimedia/imagenes/mardelpanoramic.jpg) ;
        background-repeat: no-repeat;
        background-size: 100% 61%; 
       
       
       
    }
        .grid-conteiner__contacto{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(10, 1fr);
            
        } 
            .contacto__item{
                background-color: #131516;
                padding: 10px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                grid-column: 1 / span 4;
                grid-row: 7 / span 10;
            }
                .contacto__item p{
                    color: #ffffff;
                    padding: 20px 100px;
                    font-family: 'roboto';
                    font-size: 20px;
                    
                }
    }
    /*FIN CONTACTO*/