
/*INDEX*/
#bgindex{
    background: $bg-body;
    background: $bg-radiante
}

/*GALERIA*/
#bggaleria{
    background: $bg-body;
    background: $bg-radiante
}

/*SERVICIOS*/
#bgservicios{
    background: $bg-body;
    background: $bg-radiante
}

/*NOSOTROS*/
#bgnosotros{
    background: $bg-body;
    background: $bg-radiante
}

/*CONTACTO*/
#bgcontacto{
    background: $bg-body;
    background: $bg-radiante
}
/*FORMULARIO*/
#bg{
    background: $bg-body;
    background: $bg-radiante
}