/*INDEX*/
#bgindex{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(10,35,51,1) 50%, rgba(23,32,42,1) 100%);
}

/*GALERIA*/
#bggaleria{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(10,35,51,1) 50%, rgba(23,32,42,1) 100%);
}

/*SERVICIOS*/
#bgservicios{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,67,99,1) 50%, rgba(23,32,42,1) 100%);
}

/*NOSOTROS*/
#bgnosotros{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,67,99,1) 50%, rgba(23,32,42,1) 100%);
}

/*CONTACTO*/
#bgcontacto{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,67,99,1) 50%, rgba(23,32,42,1) 100%);
}

